force-app/main/default/flows/Threat_AutoCreate_Incident.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Is_High_Severity</name>
        <label>Is Critical or High Severity?</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Not Critical/High</defaultConnectorLabel>
        <rules>
            <name>Yes_High_Severity</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Severity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P1 - Critical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Severity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P2 - High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Incident</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When a Critical or High severity Threat is created, automatically creates a linked Incident record.</description>
    <interviewLabel>Threat Auto Create Incident {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Threat: Auto-Create Incident on Critical/High</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Incident</name>
        <label>Create Linked Incident</label>
        <locationX>176</locationX>
        <locationY>372</locationY>
        <inputAssignments>
            <field>Detected_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <elementReference>$Record.Severity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Threat__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Incident__c</object>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_High_Severity</targetReference>
        </connector>
        <object>Threat__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
